<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305119674171-4jmgkv6fc012r7khs3vqd4f2t7u04s6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305119674171-4jmgkv6fc012r7khs3vqd4f2t7u04s6f</string>
	<key>API_KEY</key>
	<string>AIzaSyAw5a7HtoHq1WsYPFkh_vhsv5HdCvJjaWU</string>
	<key>GCM_SENDER_ID</key>
	<string>305119674171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>myapp-2bcc2</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-2bcc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305119674171:ios:78d7ef1544c0cb59ef011e</string>
</dict>
</plist>